<!DOCTYPE html>
<html>

<head>

</head>

<body>
{% if not message %}
	<div id="loginModal" class="modal">
		<div class="modal-content"></div>
		<span class="close" onclick="closeLoginModal()">&times;</span>
		<form action="/loginAuth" method="POST">
			<input type="text" name = "username" placeholder="username" required/> </br>
			<input type="password" name = "password" placeholder="password" required/></br>
			<input type="submit" value = Login />
			{% if error %}
				<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
		</form>
		</div> 
	</div>
	<a href="/register">Register</a>
{% endif %}

{% if message %}
	<a href="/logout">Logout</a>
	<a href="/remove_account">Remove Account</a>
	<p class="message">You are logged in {{message}}. You have {{num}} follower(s)</p> </br>
	<a href="/tweets">View your tweets</a> </br>
	<a href="/find_people">Find people to follow</a> </br>
	<a href="/unfollow">Unfollow someone</a> </br>
	<a href="/view_followed">View people you have followed</a> </br>
	</br>

        <h4>15 most recent tweets from you and your followers </h4> </br>

	{% for line in tweets%}
	        <p>{{line}}</p>
	        <hr>
	{% endfor %}
	{% endif %}
</body>

</html>
