<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Flight Details</title>
    </head>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}"  alt="Logo" class="logo">
        </a>
        <!-- BASIC HOMEPAGE-->
        <div class = 'headertext'>Welcome!</div>
        <a href="/home">
            <img src = "{{ url_for('static', filename='user.png') }}"  alt="User" class="userprofile">
        </a>  
        
        <style>
            body{
                font-family: Arial, Helvetica, sans-serif;
            }
    
        </style>
    </header>
<body>
    Flight #: {{ flight ['flightNum']}} <br>
    Departing Airport: {{ flight ['deptAirportCode']}} <br>
    Departure Date: {{ flight ['deptDate']}} <br>
    Departure Time: {{ flight ['deptTime']}} <br>
    Arrival Airport: {{ flight ['arrAirportCode']}} <br>
    Arrival Date: {{ flight ['arrDate']}} <br>
    Arrival Time: {{ flight ['arrTime']}} <br>
    Departure Date: {{ flight ['deptDate']}} <br>
    Base Ticket Price: {{ flight ['baseTicketPrice']}} <br>
    Status: {{ flight ['fstatus']}} <br>

    <h3>Average Rating: {{ avg_rating }}</h3>


    <table id = 'freq-flyers'>
        <th>Review</th>
        <th>Comment</th>
    {% for review in reviews %}
    <tr>
        <td>{{ review['rating'] }}</td>
        <td>{{ review['comments'] }}</td>
    </tr>
    {% endfor%}
    </table>

    
    <a href="/">Go back</a>
</body>
</html>