<html>
    <head>
        <title>Home Page</title>
        <header id = 'header'> </header>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
       
        <header>
            <a href="/">
                <img src="{{ url_for('static', filename='logo.png') }}"  alt="Logo" class="logo">
            </a>
            <!-- BASIC HOMEPAGE-->
            {% if session['usertype'] != 'null' %}
            <div class = 'headertext'>Welcome {{session['username']}}!</div>
            <a href="/home">
                <img src = "{{ url_for('static', filename='user.png') }}"  alt="User" class="userprofile">
            </a>        
            {% endif %}
            <!-- HEADER FOR USERS-->
            {% if session['usertype'] == 'null' %}
            <div class="header-buttons-container">
                <a href="/login" class="header-button">Login</a>
                <a href="/custregister" class="header-button">Register</a>
            </div>
            {% endif %}
        </header>

        <!-- CUSTOMER HOMEPAGE -->
        {% if session['usertype'] == 'customer' %}
        <div class = 'flight-table' id = "myflights">
        <h3>Upcoming Flights</h3>
        <table id = 'flightTable'>
            <th>Flight #</th>
            <th>Departure Airport</th>
            <th>Departue Date</th>
            <th>Departure Time</th>
            <th>Arrival Airport</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Status</th>
        {% for flight in upcflights %}
        <tr>
            <td>{{ flight['flightNum'] }}</td>
            <td>{{ flight['deptAirportCode'] }}</td>
            <td>{{ flight['deptDate'] }}</td>
            <td>{{ flight['deptTime'] }}</td>
            <td>{{ flight['arrAirportCode'] }}</td>
            <td>{{ flight['arrDate'] }}</td>
            <td>{{ flight['arrTime'] }}</td>
            <td>{{ flight['status'] }}</td>
            <td>{{ flight['baseTicketPrice'] }}</td>
            <td> 
                <form action="/cancelflight" method="POST">
                    <input type="hidden" name = "flightNum" value = "{{ flight['flightNum'] }}">
                    <input type="submit" value="Cancel Flight">
                </form>
            </td>

        </tr>
        {% endfor %}
            
        </table>  
        </table> 
        </div>

        <div class = 'flight-table' id = "past">
        <h3>Past Flights</h3> Leave a review!
        <table id = 'flightTable'>
            <th>Flight #</th>
            <th>Departure Airport</th>
            <th>Departue Date</th>
            <th>Departure Time</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Arrival Airport</th>
            <th>Status</th>
        {% for flight in pastflights %}
        <tr>
            <td>{{ flight['flightNum'] }}</td>
            <td>{{ flight['deptAirportCode'] }}</td>
            <td>{{ flight['deptDate'] }}</td>
            <td>{{ flight['deptTime'] }}</td>
            <td>{{ flight['arrAirportCode'] }}</td>
            <td>{{ flight['arrDate'] }}</td>
            <td>{{ flight['arrTime'] }}</td>
            <td>{{ flight['status'] }}</td>
            <td> 
                <form action="/write-review" method="POST">
                    <input type="hidden" name="flight_num" value="{{ flight['flightNum'] }}">
                    <input type="submit" value="Write review">
                </form>
            </td>
        </tr>
        {% endfor %}
        </table>  
        
        </div>
        </section>
        <aside>
        <div id = 'user-spending'>
            <h3>Total Spending in 2023</h3>
            ${{totalspent['sum(pricePaid)']}}
            
        </div>
        <div id = 'user options'>
            <a href="/userinfo">User Information</a>
            <a href="/">Purchase Flights</a>
        </div>
        </aside>
        

        {% endif %} <!-- End of customer info-->

    <!-- Staff Homepage-->
    {% if session['usertype'] == 'staff' %}
    
    <!-- Creating new stuff: {flights, statuses, maintenence, planes, airports} -->  
    <div id = "creation-menu">
        <h2>Menu</h2>
        <a href="/addAirplane"><button type="button">Add Plane</button></a>
        <a href="/addFlight"><button type="button">Add Flight</button></a>
        <a href="/addMaintenance"><button type="button">Schedule Maintenance</button></a>
        <a href="/addAirport"><button type="button">Add Airport</button></a>
        <a href="/addStatus"><button type="button">Set Flight Status</button></a>
    </div>
    
    <!--Search all flights. Also view passengers and ratings and aergae review-->

    <!--Frequent Flyers-->
    <div id = "freq-flyers">
        <!-- Need  -->
        <h2>Frequent Flyers</h2>
        

    </div>
    <!--Total Revenue-->
    <div id = "total-rec">
        <h2>Total Revenue</h2>
        <h3>${{ total_revenue }} </h3><br> <br>


    
    </div>
    <!--User Info-->
    <div id = "user-info">
        <a href="/userinfo">User Info</a>
    </div>

    {%endif%}

<!--<form action="/post" method="POST"></form>-->

<!-- Customer Account Page-->
{% if session['usertype'] == 'customer'%}



{%endif%}


<a href="/">Go back</a>
<a href="/logout">Logout</a>

</body>


</html>
