<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		<title>CustomerLogin</title>
	</head>
	<header>
		<a href="/">
			<img src="{{ url_for('static', filename='logo.png') }}"  alt="Logo" class="logo">
		</a>
		<!-- BASIC HOMEPAGE-->
		<div class = 'headertext'>Welcome!</div>
		<a href="/home">
			<img src = "{{ url_for('static', filename='user.png') }}"  alt="User" class="userprofile">
		</a>  
		
		<style>
			body{
				font-family: Arial, Helvetica, sans-serif;
			}
	
		</style>
	</header>
<body>
	<div class = 'login'>
<form action="/loginAuthCust" method="POST">
	<h1>Customer Login</h1>
		Email:
		<input type="text" name="username" placeholder="Enter your email" id="usernameInput" required> <br>
		Password:
		<input type="password" name="password" placeholder="Enter your password" required><br>
		<input type="submit" value = Login />

	<script src="{{ url_for('static', filename='script.js') }}"></script>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
	<a href="/stafflogin">Staff Login</a>
</form>

<a href="/">Go back</a>
</div>
</body>

</html>


