<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Staff Registeration</title>
    </head>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}"  alt="Logo" class="logo">
        </a>
        <!-- BASIC HOMEPAGE-->
        <div class = 'headertext'>Welcome!</div>
 
        
        <style>
            body{
                font-family: Arial, Helvetica, sans-serif;
            }
    
        </style>
    </header>
<body>
<form action="/registerAStaff" method="POST">

    <h1>Staff Registration</h1>
<h2>Login Information</h2>
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <h2>User Information</h2>
        Name: <br>
        <input type="text" name="fname" placeholder="First Name" required>
        <input type="text" name="lname" placeholder="Last Name" required><br>
        Date of Birth: <br>
        <input type="date" name="dob" required><br>
        Company <br>
        <input type="text" name="company" placeholder="Company" required><br>
        <h2>Contact Information</h2> <br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="tel" name="phoneNum" placeholder="Phone Number" required><br>

        <input type="submit" value="Register"> 
        <br>
        <a href="/custregister">Customer Registration</a> <br>
        {% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}

</form>
<a href="/">Go back</a>
</body>
</html>
