<html>
<head>
</head>
<body>
<form action="/registerAuthStaff" method="POST">
    <h1>Staff Registration</h1>
	<h2>Login Information</h2>
	Username: <br>
	<input type="text" name = "username" placeholder="Username" required> <br>
	Password: <br>
	<input type="password" name="password" placeholder="Password" required> <br>

	<h2>User Information</h2>
	Name: <br>
	<input type="text" name = "fname" placeholder="First Name" required> 
	<input type="text" name = "lname" placeholder="Last Name" required> <br>
	Date Of Birth: <br> <input type="date" name="dob" placeholder="YYYY-MM-DD"> <br>
</form>
<a href="/custregister">Customer Login</a> <br>
<a href="/">Go back</a>

</body>
</html>
